* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 40px 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul,
ol {
  padding-inline-start: 20px;
  margin-top: 24px;
}

li {
  margin-bottom: 8px;
}

* {
  box-sizing: border-box;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 34px;
  height: 72px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 72px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status,
.moves-history {
  font-weight: bold;
  margin-bottom: 10px;
}
.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.game-board {
  /* grid-column: -1 / 1; */
  display: grid;
  justify-content: center;
  margin-bottom: 32px;
}

.game-info {
  margin-left: 20px;
  min-width: 240px;
}

.winner {
  background-color: springgreen;
}

.restart {
  margin-top: 18px;
}
